.main-paralax {
    height:520px;
    background:
        linear-gradient(rgba($color1, 0.8) 0%, rgba($color2, 0.8) 100%),
        url(../images/paralax-bg.jpg);
    background-position: center center;
    background-attachment: scroll, fixed;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.main-paralax-title {
    font-size:60px;
    text-transform: uppercase;
    color:#fff;
    font-weight:normal;
    margin:0;
    text-align: center;
}
@media (max-width:600px) {
    .main-paralax-title {
        font-size:40px;
    }
}
.main-paralax-text {
    font-size:19px;
    color:rgba(white, 0.35);
    text-align: center;
    margin-top:15px;
    max-width:840px;
}