.page-header {
    height: 90px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
    transition: 0.4s all;
}
.page-header.sticky {
    height:80px;
    background: mix($color2, $color1, 60);
    box-shadow:0 1px 2px rgba(#000, 0.2), 0 2px 15px rgba(#000, 0.2);
}
@media (max-width:900px) {
    .page-header,
    .page-header.sticky {
        transition: none;
        background: none;
        box-shadow:none;
        height:90px;
        position: absolute;
    }
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
@media (max-width:800px) {
    .page-header .container {
        flex-direction: column;
        padding-top:30px;
        text-align: center;
    }
}
.page-logo {}
.page-logo-img {}